<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
  </startup>
  <connectionStrings>
    <add name="TestDatabase" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=EmployeesDB;Integrated Security=True"/>
    <add name="TestDatabaseEmpty" connectionString=""/>
    <add name="TestDatabaseInvalidString" connectionString="edfggmsodpfpnsdgnorepnitfong"/>
  </connectionStrings>
</configuration>
